
<header> 
  

   <div class="header">
    <% if(locals.user){ %>

        <nav>
            <ul>
             <div class="nav-flex">
              <li>
                  <a href="/">
                    <span><img src="<%= assetPath('images/c.png') %>" class="c-image"> </span>
                    <span style="padding-left: 26px;">Codeial</span>
                </a>
                </li>
            </div>

            <div class="nav-flex">
                <li>
                    <a href="/"> Home  </a>
                 </li>
              <li >
                <a href="/users/profile/<%= user.id %>" >
                     <span> <img src=" <%=locals.user.avatar  %>" class="user-image"> </span> 
                     <span style="padding-left: 26px;"><%= user.name %></span>
                     </a>
             </li>
    
             <li>
                <a href="/users/sign-out"> Sign Out </a>
            </li>
           </div>

            </ul>
          </nav>
       
  </div>

     <% } else{ %>

        <div class="header">
        <nav>
            <ul>
                <div class="nav-flex">
                    <li>
                        <a href="/">
                          <span><img src="<%= assetPath('images/c.png') %>" class="c-image"> </span>
                          <span style="padding-left: 26px;">Codeial</span>
                      </a>
                      </li>
                  </div>

                  <div class="nav-flex">
                    <li>
                        <a href="/"> Home  </a>
                     </li>
                     <li >
                        <a href="/users/sign-in" >
                             <span> <img src="<%= assetPath('images/user.png') %>" class="logged-out-user-image"> </span> 
                             <span style="padding-left: 26px;">Profile</span>
                             </a>
                     </li>
                     <li><a href="/users/sign-in">Login / Sign Up</a></li>

                 </div>
            </ul>
          </nav>
    </div>
     <% } %>

   

</header>
