<link rel="stylesheet" href="/css/user_profile.css">
<h1>
    Codeial / Profile Page
</h1>

<img src="<%=user.avatar %>" alt="<%= user.name %>" width="100">

<% if(user.id == profile_user.id){ %>

 <!-- ----If user matches show the form---- -->
<form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="POST">
    <input type="text" name="name" placeholder="Your name" value="<%= profile_user.name %>" required>
    <input type="email" name="email" placeholder="Your email" value="<%= profile_user.email %>" required>

    <input type="file" name="avatar" placeholder="Profile Picture">
    <input type="submit" value="Update">

</form>

<% }else{ %>

<!-- ----else show only profile info---- -->
<p> <%= profile_user.name %> </p>
<p> <%= profile_user.email %> </p>
<br>
<%if(!locals.are_friends){%>
    
    <a type="button" href="/users/profile/<%=profile_user._id%>/toggle_friend" id="add-friend">Add Friend</a>
<%}else{%>
    <a type="button" href="/users/profile/<%=profile_user._id%>/toggle_friend" id="remove-friend" >Remove Friend</a>
<%}%>

<% } %>